.expmessage {
    font-style: italic;
}

.expmessage .renewnow {
    color: #FF0000;
}

.expired {
    background-color: #F5B7B1;
}

.ingrace {
    background-color: #AED6F1;
}

.canceled {
    background-color: #F9E79F;
}

.subscriptionForm label {
    width: 16em;
    float: left;
    text-align: right;
    margin-right: 1em;
    display: block;
    clear: both;
}

.subscriptionForm label error {
    color: #FF0000;
}

.subscriptionForm p {
    margin: .5em;
}

.subNewAdminItem {
    font-style: italic;
    font-weight: bold;
    color: red;
}

.subPlanListItem {
    padding:10px;
    clear:both;
    overflow: hidden;
    border-bottom-width: thin;
    border-bottom-style: solid;
}
.subPlanListItemID {
    float:left;
}
.subPlanListItemInfo {
    display: inline;
    float: left;
}

.subPlanListItemBtn {
    float:right;
    margin-right:5%;
    text-align:left;
}

.subPlanListHeader {
    overflow: hidden;
    border-bottom-width: thin;
    border-bottom-style: solid;
}

.subPlanListItemExpMsg {
    float:right;
    text-align:right;
    font-style: italic;
    clear: both;
}
