.expmessage {
    font-style: italic;
}

.expmessage .renewnow {
    color: #FF0000;
}

.expired {
    background-color: #FF9999;
}

.ingrace {
    background-color: #FFFF99;
}

.subscriptionForm label {
    width: 16em;
    float: left;
    text-align: right;
    margin-right: 1em;
    display: block;
    clear: both;
}

.subscriptionForm label error {
    color: #FF0000;
}

.subscriptionForm p {
    margin: .5em;
}

.subNewAdminItem {
    font-style: italic;
    font-weight: bold;
    color: red;
}

.subProdListItem {
    padding:10px;
    clear:both;
    overflow: hidden;
    border-bottom-width: thin;
    border-bottom-style: solid;
}
.subProdListItemID {
    float:left;
}
.subProdListItemInfo {
    display: inline;
    float: left;
}

.subProdListItemBtn {
    float:right;
    margin-right:5%;
    text-align:left;
}

.subProdListHeader {
    overflow: hidden;
    border-bottom-width: thin;
    border-bottom-style: solid;
}

.sub-icon-ok {
    color: green;
}
.sub-icon-danger {
    color: red;
}
.sub-icon-warning {
    color: #FFD300;
}
.sub-icon-info {
    color: #0077dd;
}
.sub-icon-unknown {
    color: #530E53;
}
.subProdListItemExpMsg {
    float:right;
    text-align:right;
    font-style: italic;
    clear: both;
}
